{% extends 'base/main.html' %}

{% block content %}


<div class="header-bar">
    <a href="{% url 'tasklist' %}">&#8592; Back</a>

</div>

{% comment %} <h1>Task Form:</h1>
<a href={% url 'tasklist' %}>Go Back</a> {% endcomment %}


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}} 
        {% comment %} #.as_p is a shorthand for rendering a django form with each field wrapped in <p> {% endcomment %}
        <input class="button" type="submit" value="submit">

    </form>
</div>

{% endblock content %}